<template>
  <ul>
    <li v-for="(brand, index) in brands" v-bind:key="index">
      <input type="checkbox" name="brands" v-bind:value="brand.facetName" v-model="checked" v-on:change="changeBrands($event)" v-bind:disabled="brand.facetHits === 0">{{brand.facetName}} ({{brand.facetHits}})
    </li>

    {{checkedBrands}}
  </ul>
</template>

<script>
  export default {
    data() {
      return {
        checked: []
      }
    },
    props: [
      'brands',
      'checkedBrands'
    ],
    updated: function() {
      this.checked = this.checkedBrands
    },
    methods: {
      changeBrands: function (event){
        var filter = event.target.name
        this.$emit('change-brands', this.checked, filter)
      }
    }
  }
</script>

<style lang="scss">

</style>
