<template>
  <ul>
    <li v-for="(colour, index) in colours" v-bind:key="index">
      <input type="checkbox" name="colours" v-bind:value="colour.facetName" v-model="checked" v-on:change="changeColours($event)" v-bind:disabled="colour.facetHits === 0">{{colour.facetName}} ({{colour.facetHits}})
    </li>

    {{checked}}
  </ul>
</template>

<script>
  export default {
    data () {
      return {
        checked: [],
      }
    },
    props: [
      'colours',
      'checkedColours'
    ],
    updated: function() {
      this.checked = this.checkedColours
    },
    methods: {
      changeColours: function (event){
        var filter = event.target.name
        this.$emit('change-colours', this.checked, filter)
      }
    }
  }
</script>

<style lang="scss">

</style>
