<template>
  <div>
    <h5>Facets</h5>
    <brands v-bind:brands="facets.brands" v-bind:checkedBrands="brands" v-on:change-brands="changeFacets"></brands>
    <colours v-bind:colours="facets.colours" v-bind:checkedColours="colours" v-on:change-colours="changeFacets"></colours>
    <prices v-bind:prices="facets.price" v-on:change-prices="changeFacets"></prices>
  </div>
</template>

<script>
  import brands from './brands'
  import colours from './colours'
  import prices from './prices'

  export default {
    data () {
      return {
        facetsChecked: []
      }
    },
    components: {
      'brands': brands,
      'colours': colours,
      'prices': prices
    },
    updated: function() {
      //console.log(this.brands)
    },
    props: ['facets', 'brands', 'colours'],
    methods: {
      changeFacets: function (checkedFacets, filter) {
        this.facetsChecked = checkedFacets
        this.$emit('change-facets', this.facetsChecked, filter)
      }
    }
  }
</script>

<style lang="scss">

</style>
