<template>
  <div>
		Page: {{pageIndex+1}} of {{totalPages}}

		<ul>
			<li v-for="(pageNumber, index) in totalPages" v-bind:key="index">
				<a href="#" v-on:click.prevent="changePage(index)">{{pageNumber}}</a>
			</li>
		</ul>
	</div>
</template>

<script>
  export default {
		props: [
			'pageIndex',
			'totalPages'
		],
		methods: {
			changePage: function (pageNumber) {
				this.$emit('change-page', pageNumber);
			}
		}
  }
</script>

<style lang="scss">

</style>
