<template>
  <ul>
    <li v-for="(price, index) in prices" v-bind:key="index">
      <input type="checkbox" name="prices" v-bind:value="price.qsValue" v-model="checked" v-on:change="changePrices($event)" v-bind:disabled="price.facetHits === 0">{{price.facetName}} ({{price.facetHits}})
    </li>

    {{checked}}
  </ul>
</template>

<script>
  export default {
    data () {
      return {
        checked: []
      }
    },
    props: [
      'prices'
    ],
    methods: {
      changePrices: function (event){
        var filter = event.target.name
        this.$emit('change-prices', this.checked, filter)
      }
    }
  }
</script>

<style lang="scss">

</style>
