<template>
  <div>
    Product Number: 
    <select name="" id="" v-model="selectedPageSize" v-on:change="changePageSize">
      <option value="20" selected="selected">20</option>
      <option value="40">40</option>
      <option value="60">60</option>
    </select>
	</div>
</template>

<script>
  export default {
    data: function() {
      return {
        selectedPageSize : '20'
      }
    },
		methods: {
			changePageSize: function(selectedPageSize) {
				this.$emit('change-page-size', this.selectedPageSize);
			}
		}
  }
</script>

<style lang="scss">

</style>