<template>
  <div>
    <h5>Products Display Area</h5>
    <product v-for="(product, index) in products" v-bind:product="product" v-bind:key="index"></product>
  </div>
</template>

<script>
  import product from './product'
  import axios from 'axios'
  
  export default {
    components: {
      'product' : product
    },
    props: ['products'],
  }
</script>

<style lang="scss">

</style>
