<template>
  <div class="container">
    <div class="facets">
      <i v-show="loading" class="fa fa-spinner fa-spin"></i>
      <facet-list v-bind:facets="facets" v-bind:brands="brands" v-bind:colours="colours" v-on:change-facets="facetChanged"></facet-list>
    </div>

    <div class="displayArea" >
      <i v-show="loading" class="fa fa-spinner fa-spin"></i>
      <product-list v-bind:products="products"></product-list>
      <pagination v-bind:page-index="pageIndex" v-bind:total-pages="totalPages" v-on:change-page="changePage"></pagination>
      <product-size v-on:change-page-size="pageSizeChange"></product-size>
    </div>
  </div>
</template>

<script>
// Importing components
import productList from './components/product-list'
import facetList from './components/facet-list'
import pagination from './components/pagination'
import productSize from './components/product-size'

// Importing 3rd party libraries
import axios from 'axios'

export default {
  components: {
    'facet-list' : facetList,
    'product-list' : productList,
    'pagination' : pagination,
    'product-size' : productSize
  },
  data () {
    return {
      products: [],
      facets: [],
      
      checkedBrands: '',
      checkedColours: '',
      checkedPrices: '',

      pageIndex: 0,
      pageSize: '20',
      totalPages: 1,
      lastClickedFacet: 'brands',

      brands: [],
      colours: [],

      loading: false,

      apiBase: 'http://api.test.retail.maginfrastructure.com/products/category/STN/technology',
    }
  },
  methods: {
    facetChanged: function (checkedFacets, filter){
      this.lastClickedFacet = filter

      if(filter == 'brands'){
        this.checkedBrands = checkedFacets.join();
      }else if(filter == 'colours'){
        this.checkedColours = checkedFacets.join();
      }else if(filter == 'prices'){
        this.checkedPrices = checkedFacets.join();
      }

      this.loadProducts('filter');
    },
    pageSizeChange: function(changeProductSize) {
      this.pageSize = changeProductSize
      this.loadProducts('filter')
    },
    changePage: function (pageNumber) {
      this.pageIndex = pageNumber;
      this.loadProducts('filter');
    },
    brandCheck: function() {
      if(this.checkedBrands.length > 0) {
        return '&brands=' + encodeURIComponent(this.checkedBrands)
      } else {
        return ''
      }
    },
    colourCheck: function() {
      if(this.checkedColours.length > 0) {
        return '&colours=' + encodeURIComponent(this.checkedColours)
      } else {
        return ''
      }
    },
    priceCheck: function() {
      if(this.checkedPrices.length > 0) {
        return '&' + this.checkedPrices
      } else {
        return ''
      }
    },
    apiQS: function() {
      return '?pageIndex=' + this.pageIndex + '&useBase=' + this.lastClickedFacet + '&pageSize=' + this.pageSize + this.brandCheck() + this.colourCheck() + this.priceCheck()
    },
    constructApiURL: function (){
      return this.apiBase + this.apiQS();
    },
    loadProducts: function (type) {
      if(type == 'filter'){
        var url = this.constructApiURL();
        history.pushState(null, null, this.apiQS())
      }else{
        var url = this.apiBase;
      
        if (window.location.search) {
          url = this.apiBase + window.location.search
        }
      }
      
      this.loading = true;

      axios.get(url)
        .then(response => {
          this.products = response.data.products
          this.totalPages = response.data.totalPages
          this.facets = response.data.facets
          this.loading = false
          this.brands = response.data.originalRequest.brands.split(',')
          this.colours = response.data.originalRequest.colours.split(',')
        }).catch(function(error) {
          console.log(error)
        })
    }
  },
  created: function() {
    this.$nextTick(function(){
      window.onpopstate = this.loadProducts
    })

    this.loadProducts();
  }
}
</script>

<style lang="scss">
  .container {
    width: 90%;
    margin: 20px auto;
    display: flex;
  }

  .facets {
    width: 30%;
  }
</style>
